In [1]:
import pandas as pd
inputFile = '/Users/jamesliao2018/Logs/application_train.csv'
dfRaw = pd.read_csv(inputFile)

In [2]:
from sklearn import linear_model
import matplotlib.pyplot as plt

In [8]:
lr = linear_model.LinearRegression()
# boston = datasets.load_boston()
# y = boston.target
y = dfRaw['TARGET'].fillna(0)
x = dfRaw.loc[:,['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']].fillna(0)

lr.fit(x, y)
y_pred = lr.predict(x)
# cross_val_predict returns an array of the same size as `y` where each entry
# is a prediction obtained by cross validation:
# predicted = cross_val_predict(lr, x, y, cv=10)

# fig, ax = plt.subplots()
# ax.scatter(y, predicted, edgecolors=(0, 0, 0))
# ax.plot([y.min(), y.max()], [y.min(), y.max()], 'k--', lw=4)
# ax.set_xlabel('Measured')
# ax.set_ylabel('Predicted')
# plt.show()

In [9]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y, y_pred)

0.14681194523866617

In [10]:
dfTest = pd.read_csv('/Users/jamesliao2018/GIT/HCDR2018/data/application_test.csv')

In [11]:
testX = dfTest.loc[:,['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']].fillna(0)

In [12]:
testY = lr.predict(testX)

In [14]:
testY

array([0.09313208, 0.08510729, 0.07706857, ..., 0.09531904, 0.09317875,
       0.09739838])

In [15]:
# Submission data
dfSubmission = pd.read_csv('/Users/jamesliao2018/GIT/HCDR2018/data/sample_submission.csv')

In [16]:
dfY = pd.DataFrame(testY)

In [18]:
dfY = dfY.rename(columns={0:'TARGET'})

In [20]:
dfY.head()

     TARGET
0  0.093132
1  0.085107
2  0.077069
3  0.022214
4  0.070133

In [21]:
dfSubmission['TARGET'] = dfY['TARGET']

In [22]:
dfSubmission.head()

   SK_ID_CURR    TARGET
0      100001  0.093132
1      100005  0.085107
2      100013  0.077069
3      100028  0.022214
4      100038  0.070133

In [23]:
dfSubmission['TARGET'] = dfSubmission['TARGET'].apply(lambda x: 1 if x > 0.5 else 0)

In [24]:
dfSubmission.head()

   SK_ID_CURR  TARGET
0      100001       0
1      100005       0
2      100013       0
3      100028       0
4      100038       0

In [26]:
dfSubmission.to_csv('./data/submission/submission_0805.csv',index=False)